#tournamentName{
    text-align : center;
}

.row{
    padding-top: 1em;
}

.phase{
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    background : #d3d3d3;
}
.phase.enrolment{
    background : #54C0DE;
}
.phase.started{
    background : #98fb98;
}